
# Mark new block devices as read-only.
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd*", RUN+="/usr/sbin/iforense2019-3 $name"

# A kernel marked a disk as read-write for some reason, we need to fix that.
ACTION=="change", SUBSYSTEM=="block", KERNEL=="sd*", ENV{DISK_RO}=="0", RUN+="/usr/sbin/iforense2019-2 $name"
